*{
    margin: 0 auto;
}


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* shared styles */

.logo-color{
    color: #0D99FF;
}

/* Nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 30px;
}

.nav-title{
    font-weight: bold;
    font-size: 34px;
}

nav ul, a{
    list-style: none;
    text-decoration: none;
}

.btn-header{
    color: white;
    background-color: #0D99FF;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
}

.btn-header:hover{
    color: white;
    background-color: #252432;
    cursor: pointer;
    font-size: 18px;
}


main{
    max-width: 1140px;
    margin: 0 auto;
}
/* header/hero section */


.header{
    background-image: url(../Images/Hero-bg.png);
    width: 100%;
    height: 698px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner{
    text-align: center;
    padding: 150px 40px 152px;
}

.banner-title{
    font-size: 45px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
        
}

.banner-btn{
    color: white;
    background-color: #0D99FF;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

.banner-btn:hover{
    color: white;
    background-color: #252432;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.button{
    padding-top: 30px;
}

/* action section */

.action{
    border-radius: 20px;
    background-color: #b8dffa;
    margin-top: 130px;
    padding: 60px 50px;
    align-items: center;
    height: 370px;
}


.action-content{
    display: flex;
    justify-content: space-around;

}


.action-title{
    max-width: 517px;
    padding-top: 100px;
}

.action-description{
    font-size: 20px;
    font-weight: 400;
    padding-top: 23px;
    padding-right: 20px;
    padding-bottom: 25px;
    color: rgba(37, 36, 50, 0.5);
}

.action-head{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}

.action-btn{
    color: white;
    background-color: #0D99FF;
    border: none;
    height: 40px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px;
    font-weight: bold;
}

.action-btn:hover{
    color: white;
    background-color: #252432;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
}

.action img{
    border-radius: 20px;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
    width: 100%;
}

.productive{
    border-radius: 20px;
    background-color: #b8dffa;
    margin-top: 130px;
    padding: 50px 140px;
}


.productive-title{
    color: rgba(37, 36, 50, 1);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.user-item{
    display: flex;
    justify-content: space-around;
}

.productive-sub{
    color: rgba(37, 36, 50, 1);
    font-size: 80px;
    font-weight: bold;
    padding-top: 20px;
}

.productive-description{
     font-size: 20px;
    font-weight: 400;
    padding-top: 20px;
    color: rgba(37, 36, 50, 0.5);
}